In [6]:
from scipy.optimize import minimize
import numpy as np
import pandas as pd

file = r'./data.csv'
stock_names = pd.read_csv(file, sep=";")
stock_names.head()

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306,AT0000606306
1,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011,AT0000652011
2,AT0000720008,AT0000720008,AT0000720008,AT0000720008,AT0000720008,AT0000720008,AT0000720008,AT0000730007,AT0000730007,AT0000730007,AT0000730007
3,AT0000730007,AT0000730007,AT0000730007,AT0000730007,AT0000730007,AT0000730007,AT0000730007,AT0000743059,AT0000743059,AT0000743059,AT0000743059
4,AT0000743059,AT0000743059,AT0000743059,AT0000743059,AT0000743059,AT0000743059,AT0000743059,AT0000937503,AT0000831706,AT0000831706,AT0000831706